fastapi==0.95.1
uvicorn[standard]==0.22.0
requests==2.31.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3
transformers==4.35.0      # لإحضار موديل التلخيص
torch>=1.13.0,<2.0.0       # باك إند لـ transformers (CPU)
